DirectoryIndex index.html

# ===== FINÁLNÍ OPRAVA PRO CSS NA WEDOS =====
# Donutí server posílat CSS s paremetrem text/css
<FilesMatch "\.css$">
    AddType text/css .css
    Header set Content-Type "text/css"
</FilesMatch>

RewriteEngine On
RewriteBase /

# 1. Pokud soubor fyzicky existuje, prostě ho načti a nic nepřepisuj
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# 2. Přesměrování z www na non-www
RewriteCond %{HTTP_HOST} ^www\.winter-ux\.eu$ [NC]
RewriteRule ^(.*)$ https://winter-ux.eu [L,R=301]

# 3. Všechny ostatní virtuální URL adresy pošli do index.html
RewriteRule ^ index.html [L]
